# 모델 파일 제외
model/eng_hin.model
model/hin_eng.model

# 경계 박스 JSON 파일 제외
engBB.json
hinBB.json

source_eng/*.jpg  
source_hin/*.jpg 

# Diff_SceneTextEraser 폴더 무시
Diff_SceneTextEraser/

# IndicTransToolkit 폴더 무시
IndicTransToolkit/
model/

__pycache__/
cuda-keyring_1.0-1_all.deb
output/
tmp/

*.ipynb
first_test/SRNet/train_step-500000.model
SRNet/train_step-500000.model
